.MainClientNavbar {
    width: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .MainClientNavbarHeader {
    position: relative;
    padding: 20px;
    text-align: center;
    height: 30vh;
  }
  
  .MainClientNavbar h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: 600 !important;
    color: white !important;

    
  }
  
  .MainClientNavbar__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .MainClientNavbar__menu li {
    margin: 0 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .MainClientNavbar__menu li:hover {
    color: #00bcd4; /* Change color on hover */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .MainClientNavbar__header h3 {
      font-size: 1.5rem;
    }
  
    .MainClientNavbar__menu {
      flex-direction: column;
    }
  
    .MainClientNavbar__menu li {
      margin: 10px 0;
    }
  }
  