.login_container {
    background-image: url('../../Assets/Untitled design.png'); /* Your background image */
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.glassy-container {
    background: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
